body
  font-family: sans-serif

.widget
  display: inline-block
  background-color: #454545
  color: #aaa
  user-select: none
  cursor: pointer
  margin: 0.5em
  padding: 0.2em 0.5em
  border-radius: 5px
  font-weight: bold
  width: 40px
  text-align: right
